* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #eff0f6;
  color: #383636d6;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 5px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h1, h2 {
  text-align: center;
  color: #383636d6;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  padding: 20px; }

a {
  text-decoration: none;
  color: #383636d6; }

header {
  text-align: center;
  color: #383636d6;
  font-size: 40px;
  font-family: "Lato", sans-serif; }
  header .NavBar__BackgroundColor {
    background-color: #bdbfd4; }
    @media screen and (max-width: 480px) {
      header .NavBar__BackgroundColor .container-fluid a .logo__mediaquery {
        width: 100px; } }

/*index*/
main .section1 {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 5px auto;
  background-color: #bdbfd4;
  border-radius: 10px; }
  main .section1 p {
    text-align: center;
    font-size: 30px; }

main .section2 {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
  padding: 5px; }
  main .section2 .section2__acercademi {
    max-width: 900px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 5px auto; }
    main .section2 .section2__acercademi p {
      font-size: 2rem;
      padding: 5px;
      line-height: 1.5;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
    main .section2 .section2__acercademi a {
      background-color: #8588a8;
      color: #eff0f6;
      font-weight: bold;
      font-size: 2rem;
      max-width: 600px;
      height: 50px;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      text-align: center;
      align-items: center;
      margin: 5px auto; }
      main .section2 .section2__acercademi a:hover {
        background-color: #eff0f6;
        color: #8588a8;
        border: 1px solid #8588a8; }
  main .section2 .section2__foto {
    max-width: 800px;
    display: flex; }
    main .section2 .section2__foto img {
      width: 500px;
      border-radius: 10px; }

main .section3 {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  max-width: 1000px; }
  main .section3 p {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: center;
    background-color: #bdbfd4;
    border: 1px dashed #eff0f6; }
  main .section3 .mapa {
    display: flex;
    justify-content: center;
    margin: 5px auto; }

/*fin index*/
/*inicio Servicios*/
.contenedor {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; }
  .contenedor .card__container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
    transition: all 400ms ease; }
    .contenedor .card__container:hover {
      transform: translateY(-1%); }
    .contenedor .card__container .card-header {
      height: 200px;
      width: 100%;
      object-position: 50% 50%;
      object-fit: cover; }
      .contenedor .card__container .card-header img {
        width: 100%;
        display: block;
        border-radius: 5px; }
    .contenedor .card__container .card-body {
      background-color: #eff0f6;
      padding: 20px 15px;
      text-align: justify;
      border: 1px solid #bdbfd4;
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      .contenedor .card__container .card-body .card-title {
        text-align: center;
        margin: 0;
        font-weight: bold;
        text-decoration: underline; }
      .contenedor .card__container .card-body .card-description {
        flex-grow: 1;
        font-weight: bold; }
      .contenedor .card__container .card-body .btn {
        display: block;
        background-color: #8588a8;
        padding: 5px;
        text-decoration: none;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
        opacity: 1.5; }
        .contenedor .card__container .card-body .btn:hover {
          background-color: #3f404e;
          opacity: 0.8; }

/*Fin Servicios*/
/*inicio Acercademi*/
main .main__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  border: 1px solid #383636d6;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
  padding: 10px;
  width: 1700px;
  margin: auto; }
  @media screen and (max-width: 480px) {
    main .main__contenedor {
      flex-direction: column;
      border: 1px solid #bdbfd4;
      background-color: #eff0f6;
      color: #383636d6;
      font-size: 22px;
      align-items: center;
      max-width: 350px; } }
  main .main__contenedor img {
    object-fit: cover;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    border: 1px dashed #383636d7;
    margin: 10px;
    padding: 5px; }

/*inicio contacto*/
.maincontacto {
  display: flex;
  flex-direction: column; }
  .maincontacto .section1 {
    display: flex;
    max-width: 1400px;
    margin: 5px auto; }
    .maincontacto .section1 .section1__form {
      display: flex;
      max-width: 1000px; }
      .maincontacto .section1 .section1__form .form {
        width: 900px;
        padding: 10px;
        margin: 0 auto;
        background-color: #bdbfd4; }
        .maincontacto .section1 .section1__form .form .input, .maincontacto .section1 .section1__form .form .textarea, .maincontacto .section1 .section1__form .form .button {
          width: 100%;
          padding: 20px;
          margin: 5px auto;
          font-size: 2rem; }
          .maincontacto .section1 .section1__form .form .input .textarea, .maincontacto .section1 .section1__form .form .textarea .textarea, .maincontacto .section1 .section1__form .form .button .textarea {
            max-width: 100%;
            min-height: 100px;
            max-height: 100px; }
  .maincontacto .section2 .flex-containerContacto {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 10px 0 10px 0; }
    .maincontacto .section2 .flex-containerContacto h2 {
      text-align: left;
      text-decoration: underline; }
    .maincontacto .section2 .flex-containerContacto .flex-div--contacto {
      display: flex;
      max-width: 600px;
      gap: 5px;
      padding: 5px; }
      .maincontacto .section2 .flex-containerContacto .flex-div--contacto img {
        width: 50px;
        gap: 5px; }
  .maincontacto .section2 .flex-containerMapa {
    display: flex;
    max-width: 900px;
    margin: 5px auto;
    padding: 5px;
    flex-direction: column; }
    .maincontacto .section2 .flex-containerMapa .flex-div--mapa {
      display: flex;
      max-width: 600px;
      gap: 5px;
      padding: 5px; }
      .maincontacto .section2 .flex-containerMapa .flex-div--mapa .mapa {
        text-align: center;
        margin: 5px auto; }

/*fin contacto*/
/*Inicio faqs*/
.contenedor__faq {
  display: flex;
  max-width: 1300px;
  margin: 2rem auto;
  gap: 2rem; }
  .contenedor__faq img {
    width: 500px;
    border-radius: 10px; }

.contenedor__faqRowReverse {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1300px;
  margin: 2rem auto;
  gap: 2rem; }
  .contenedor__faqRowReverse img {
    width: 500px;
    border-radius: 10px; }

footer {
  margin-top: auto;
  background-color: #bdbfd4;
  text-align: center;
  color: #bdbfd4;
  font-size: 40px;
  font-family: "Lato", sans-serif; }
  footer .footer_contacto a .footer__Contacto--WhatsappIcon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 80%;
    width: 80px;
    opacity: 0.8; }
    @media screen and (max-width: 480px) {
      footer .footer_contacto a .footer__Contacto--WhatsappIcon {
        width: 60px;
        opacity: 1; } }
    footer .footer_contacto a .footer__Contacto--WhatsappIcon:hover {
      position: fixed;
      bottom: 10px;
      right: 10px;
      width: 100px;
      opacity: 1.5;
      transition: 0.5 s all; }
  footer .footer_contacto a .footer__redes {
    width: 80px;
    padding: 15px;
    opacity: 0.8; }
    @media screen and (max-width: 480px) {
      footer .footer_contacto a .footer__redes {
        width: 60px; } }
    footer .footer_contacto a .footer__redes:hover {
      width: 90px;
      background-color: #383636d7;
      opacity: 1; }
