header{
    text-align: center;
    color: $color3;
    font-size: 40px;
    font-family: $fuente;
    .NavBar__BackgroundColor {
    background-color: $color2;
        .container-fluid{
            a{                
            .logo__mediaquery {
                @include mobile{
                    width: 100px;
                }
            }
            }
        }
    }
} 


