/*index*/
main{    
    .section1{
        display:flex;
        max-width: 1400px;
        margin:4rem auto;
        @include mobile {
            flex-direction: column;
            max-width: 350px; 
            margin: 0 auto;   
        } 
        .section1__descripcion{
            h1{
                text-align: left;
                font-size: 5rem;
                font-weight: bold;
                @include mobile {
                    font-size: 3rem;
                    max-width: 350px; 
                    margin: 0 auto;
                    text-align: center;
                    font-size: 2rem;   
                } 
            }
            .button{
                a{
                    color:$color7;
                    font-weight: bold;
                    &:hover{
                        color:$color1;
                    }
                    @include mobile {
                        font-size: 2rem; 
                    } 
                }                
                border:none;
                background-color: $color2;
                padding: 0.5rem 1rem;
                margin: 1rem;
                font-size: 2rem;
                &:hover{
                    background-color:$color7; 
                }
            
            }
            p{
                text-align: justify;
                font-size: 2rem;
                margin: 1rem;
                line-height: 1.5;
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    font-size: 25px;
                    max-width: 350px;
                    margin: 0 auto;
                    padding:5px;   
                }         
            }
        }
        }
        img{
            width: 600px;
            object-fit: cover;
            @include mobile {
                display: flex;
                flex-direction: column;
                max-width: 300px; 
                margin: 0 auto;   
            } 
        }
    .section2{
        display:flex;
        max-width: 1400px;
        margin:4rem auto;
        @include mobile {
            flex-direction: column;
            max-width: 350px; 
            margin: 0 auto;   
        } 
        .section2__descripcion{
            h2{
                text-align: left;
                font-size: 4rem;
                font-weight: bold;
                @include mobile {
                    font-size: 2rem;
                    max-width: 350px; 
                    text-align: center;
                } 
            }
            p{
                text-align: left;
                font-size: 2rem;
                margin: 1rem;
                line-height: 1.5;
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    font-size: 25px;
                    max-width: 350px;
                    margin: 0 auto;
                    text-align: center;   
                }         
            }
        }
    } 
    .section3{
        display:flex;
        max-width: 1400px;
        margin:4rem auto;
        gap:20px;
        @include mobile {
            flex-direction: column;
            max-width: 350px; 
            margin: 0 auto;   
        } 
        h3{
            text-align: left;
            font-size: 2rem;
            font-weight: bold;
            max-width: 600px;
            line-height: 1.5;
            text-align: justify;
            margin: 1rem auto;
            @include mobile {
                flex-direction: column;
                max-width: 350px; 
                margin: 0 auto;
                font-size: 22px;
                text-align: center;   
            } 
        }
        .videosection3{
            display: flex;
            height: 500px;
            width: 1000px;
            border-radius: 5px;
            @include mobile {
                flex-direction: column;
                width: 350px;
                height: 200px;
                margin: 1rem auto;   
            } 
        }  
    }   
}    
       
/*fin index*/

/*inicio Servicios*/
.contenedor{
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  10px;
    @include mobile {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        max-width: 350px; 
        margin: 30px auto;   
    } 
    .card__container{
        display: flex;
        flex-direction: column;
        margin:0;
        margin:3px;
        padding:5px;
        @include mobile {
            max-width: 350px; 
        } 
        cursor:pointer;
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-1%)
        }
        .card-header{
            height: 200px;
            width: 100%;
            object-position: 50% 50%;
            object-fit: cover;
            @include mobile {
                max-width: 350px; 
                margin: 0 auto;  
                height: 150px;
            } 
            img{
                width: 100%;
                display: block;
                border-radius: 5px; 
                @include mobile {
                   object-fit: cover;
                }                
            }
        }
        .card-body{            
            background-color: $color1;
            padding: 20px 15px;
            text-align: justify;
            border: 1px solid $color2;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            @include mobile {
                max-width: 350px; 
                margin: 0 auto;
                border: none; 
                padding: 5px;
            } 
            .card-title{
                text-align: center;
                font-weight: bold;
                text-decoration: underline;
                margin:0 auto;
                @include mobile {
                    max-width: 350px;
                } 
            }
            .card-description{
                flex-grow: 1;
                font-weight: bold;
                @include mobile {
                    text-align: center;  
                } 
            }
            .btn{
                display: block;
                background-color:$color6;
                padding: 5px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                margin-top: 10px;
                font-size: 24px;
                font-weight: bold;
                opacity: 1.5;
                &:hover{
                    background-color:$color7;
                    opacity:0.8;
                }
            }
        }

    }
}
/*Fin Servicios*/

/*inicio Acercademi*/
main{
   .main__contenedor{
        display: flex;
        font-family: $fuente;
        border-radius: 10px;
        padding: 10px;
        max-width: 1600px;
        margin:0 auto;
        font-size: 25px;
        @include mobile {
            flex-direction: column;
            background-color: $color1;
            color: $color3;
            font-size: 22px;
            align-items: center;
            max-width: 350px;    
        }
        .main__descripcion--texto {
            max-width: 800px;
            padding:10px;
            img{
                max-width: 500px;
            }
            p{
                text-align: justify;
                line-height: 1.5;
            }
            .button1{
                background-color: $color6;
                font-weight: bold;
                border-radius: 5px;
                padding:5px;
                &:hover{
                    background-color:$color1;
                }
                a{
                    text-decoration: none;
                    color:$color1;
                    &:hover{
                        color:$color6;
                    }
                }
            } 
        }          
    }
}
 
/*inicio contacto*/
.maincontacto{
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    .section1{
        display: flex;        
        max-width: 1400px;
        margin:5px auto;
        @include mobile {
            flex-direction: column;
            font-size: 22px;
            max-width: 350px;
            margin: 0 auto;   
        }         
        .section1__form{
            display:flex;
            flex-direction: column;
            max-width: 1000px;           
            .form{            
                max-width: 800px;
                padding:10px;
                margin:0 auto;
                background-color: $color2;
                .input, .textarea, .button{
                    width: 100%;
                    padding:20px;
                    margin: 5px auto;
                    font-size: 2rem;
                    @include mobile {
                    font-size: 22px;
                    max-width: 350px;
                    margin: 0 auto;   
                    }     
                }
                .textarea{
                    max-width: 100%;
                    min-height: 100px;
                    max-height: 100px;
                }
            }             
                      
        }       
    }
    .section2{
        margin:0 auto;
        @include mobile {
            display: flex;
            flex-direction: column;
            font-size: 22px;
            max-width: 350px; 
            margin: 0 auto; 
        }
        .flex-containerContacto{        
            display: flex;
            flex-direction: column;
            width: 900px;
            margin:10px 0 10px 0;
            @include mobile {
                flex-direction: column;
                font-size: 22px;
                max-width: 350px; 
                margin: 0; 
                order:-1;  
            } 
            h2{
                text-align: left;
                text-decoration: underline;
                font-weight: bold;
                @include mobile{
                    text-align: center;
                } 
            }          
            .flex-div--contacto{
                display:flex;
                max-width: 600px;
                gap:5px;
                padding:5px;
                @include mobile{
                    font-size: 22px; 
                    margin: 0;
                } 
                img{
                    width: 50px;
                    gap:5px;
                    @include mobile{
                        width: 31px;
                        margin:0;
                        height: 30px;
                    } 
                }
            }
        }
        .flex-containerMapa{
            display:flex;
            max-width: 900px;
            margin: 5px auto;
            padding:5px;
            flex-direction: column;
            @include mobile {
                flex-direction: column;
                font-size: 22px;
                max-width: 350px; 
                margin: 0 auto;
            } 
            .flex-div--mapa{
                display:flex;
                max-width: 600px;
                gap:5px;
                padding:5px;               
                .mapa{
                    text-align: center;
                    margin: 5px auto;            
                }
            }  
            
        } 
    
    }
    
}



/*fin contacto*/

/*Inicio faqs*/
main{
.contenedor__faq {
    display:flex;
    max-width: 1300px;
    margin: 2rem auto;
    gap:2rem;
    @include mobile {
        display: flex;
        flex-direction: column;
        max-width: 350px; 
        margin: 3px auto;
        gap:5px; 
    }
    .contenedor__faq--div{
        h3{
            font-size: 30px;
            font-weight: bold;
            @include mobile {
                text-align: center;
            }            
        }
        p{
            font-size: 25px;
            line-height: 1.5;
            text-align: justify;
            @include mobile {
                display: flex;
                max-width: 350px;
                flex-direction: column;
                text-align: justify;
                padding:5px;
            }
        }
        @include mobile {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            margin: 5px auto; 
        }  
        }   
    }   
    img{
        width:500px;
        border-radius: 10px;
        object-fit: cover;
        @include mobile {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 200px;
            order:-1;  
        } 
    }

.contenedor__faqRowReverse{
    display:flex;
    flex-direction: row-reverse;
    max-width: 1300px;
    margin: 2rem auto;
    gap:2rem;
    @include mobile {
        display: flex;
        flex-direction: column-reverse;
        max-width: 350px; 
        margin: 3px auto;
        gap:5px; 
    }
    h3{
        font-size: 30px;
        font-weight: bold;
        @include mobile {
            text-align: center;
        }
    }
    p{
        font-size: 25px;
        line-height: 1.5;
        text-align: justify;
        @include mobile {
            display: flex;
            max-width: 350px;
            flex-direction: column;
            text-align: justify;
            padding:5px;
        }
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 5px auto; 
    }     
} 
    img{
        width:500px;
        border-radius: 10px;
        @include mobile {
            display: flex;
            flex-direction: column;
            width: 200px;
            order:-1; 
            padding:5px;  
        } 
    }
}
