/*index*/
main{            
    .section1{
        display:flex;
        flex-direction: column;
        max-width: 1400px;
        margin:5px auto;
        background-color: $color2;
        border-radius: 10px;
        p{
            text-align: center;
            font-size: 30px;        
        }
    }
    .section2{
        display: flex;           
        align-items:center;        
        max-width: 1200px; 
        margin: 10px auto;
        padding:5px;       
        .section2__acercademi{
            max-width: 900px; 
            display: flex;
            text-align: center;
            flex-direction: column;
            margin:5px auto;
            p{               
                font-size: 2rem;
                padding:5px;
                line-height: 1.5;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;             
            }
            a{
                background-color: $color6;
                color: $color1;
                font-weight: bold;
                font-size: 2rem; 
                max-width: 600px; 
                height: 50px; 
                border-radius: 10px; 
                padding:5px;
                display: flex;
                text-align: center;
                align-items: center;
                margin:5px auto;
                &:hover{
                    background-color: $color1;
                    color: $color6;
                    border: 1px solid $color6;
                }            
            }            
        }
        .section2__foto{
            max-width: 800px;
            display:flex;       
            img{
                width: 500px;
                border-radius: 10px;
            }           
        }        
    }
    .section3{
        display:flex;
        flex-direction: column;
        margin: 10px auto;
        max-width: 1000px;                
        p{
            display: flex;
            flex-direction: column;
            font-size: 2rem; 
            text-align: center;
            background-color: $color2;
            border: 1px dashed $color1;             
        }    
        .mapa{
            display: flex;
            justify-content: center;            
            margin: 5px auto;

        }
    }
}
/*fin index*/

/*inicio Servicios*/
.contenedor{
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  10px;
    .card__container{
        display: flex;
        flex-direction: column;
        margin:0;
        margin:3px;
        padding:5px;
        cursor:pointer;
        transition: all 400ms ease;
        &:hover{
            transform: translateY(-1%)
        }
        .card-header{
            height: 200px;
            width: 100%;
            object-position: 50% 50%;
            object-fit: cover;
            img{
                width: 100%;
                display: block;
                border-radius: 5px;                
            }
        }
        .card-body{            
            background-color: $color1;
            padding: 20px 15px;
            text-align: justify;
            border: 1px solid $color2;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .card-title{
                text-align: center;
                margin: 0;
                font-weight: bold;
                text-decoration: underline;
            }
            .card-description{
                flex-grow: 1;
                font-weight: bold;
            }
            .btn{
                display: block;
                background-color:$color6;
                padding: 5px;
                text-decoration: none;
                color: #fff;
                text-align: center;
                margin-top: 10px;
                font-size: 24px;
                font-weight: bold;
                opacity: 1.5;
                &:hover{
                    background-color:$color7;
                    opacity:0.8;
                }
            }
        }

    }
}
/*Fin Servicios*/

/*inicio Acercademi*/
main{
   .main__contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
        border: 1px solid $color3;
        font-family: $fuente;
        border-radius: 10px;
        padding: 10px;
        width: 1700px;
        margin:auto;
        @include mobile {
            flex-direction: column;
            border: 1px solid $color2;
            background-color: $color1;
            color: $color3;
            font-size: 22px;
            align-items: center;
            max-width: 350px;    
        }    
        img {
            object-fit: cover;    
            width: 20%;
            height: 100%;
            border-radius: 10px;
            border: 1px dashed $color4;
            margin: 10px;
            padding:5px
        }        
    }
}
 
/*inicio contacto*/
.maincontacto{
    display: flex;
    flex-direction: column;
    .section1{
        display: flex;        
        max-width: 1400px;
        margin:5px auto;        
        .section1__form{
            display:flex;
            max-width: 1000px;                
            .form{            
                width: 900px;
                padding:10px;
                margin:0 auto;
                background-color: $color2;
                .input, .textarea, .button{
                    width: 100%;
                    padding:20px;
                    margin: 5px auto;
                    font-size: 2rem;
                    .textarea{
                        max-width: 100%;
                        min-height: 100px;
                        max-height: 100px;
                    }
                }             
            }          
        }       
    }
    .section2{
        .flex-containerContacto{        
            display: flex;
            flex-direction: column;
            width: 900px;
            margin:10px 0 10px 0;
            h2{
                text-align: left;
                text-decoration: underline;
            }          
            .flex-div--contacto{
                display:flex;
                max-width: 600px;
                gap:5px;
                padding:5px;
                img{
                    width: 50px;
                    gap:5px;
                }
            }
        }
        .flex-containerMapa{
            display:flex;
            max-width: 900px;
            margin: 5px auto;
            padding:5px;
            flex-direction: column;
            .flex-div--mapa{
                display:flex;
                max-width: 600px;
                gap:5px;
                padding:5px;               
                .mapa{
                    text-align: center;
                    margin: 5px auto;            
                }
            }  
            
        } 
    
    }
    
}



/*fin contacto*/

/*Inicio faqs*/
.contenedor__faq {
    display:flex;
    max-width: 1300px;
    margin: 2rem auto;
    gap:2rem;
    img{
        width:500px;
        border-radius: 10px;
    }
}
.contenedor__faqRowReverse{
    display:flex;
    flex-direction: row-reverse;
    max-width: 1300px;
    margin: 2rem auto;
    gap:2rem;
    img{
        width:500px;
        border-radius: 10px;
    }
}